<div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf="error">
        <strong>Error : </strong> {{error}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-primary" id="result_panel">
            <div class="panel-heading"><h3 class="panel-title">Students</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let student of studentList">
                        <strong (click)="selectedStudent(student.id,student.name)">{{student.name}}</strong>
                    </li>
                </ul>
            </div>
          </div>
    </div>
    <div class="col-md-6">
        <div class="panel-heading"><h3 class="panel-title">Enroll Students</h3></div><br><br>
        <div class="enroll" *ngIf="selectedId">
            <table class="table">
                <thead>
                    <th>ID</th>
                    <th>Name</th>
                </thead>
                <tbody>
                    <td>{{selectedId}}</td>
                    <td>{{selectedName}}</td>
                </tbody>
            </table>
        <div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select Batch to Enroll
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" style="cursor:pointer"  (click)="batchId=s.id" *ngFor="let s of batches">{{s.name}}</a>
            </div>
        </div><br><br>
          <button type="button" class="btn btn-primary" (click)="enroll()">Submit</button>
                
        </div>
    </div>
        
    </div>
</div>
<div class="addstudent">
    Add New Student
</div>
<form class="form">
    <div class="form-group">
        <label for="exampleInputName1">Name</label>
        <input type="text" class="form-control" id="exampleInputName1" aria-describedby="emailHelp" placeholder="Enter name" [(ngModel)]="name" name="name">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" [(ngModel)]="email" name="email">
    </div>
    <div class="form-group">
        <label for="exampleInputAge1">Age</label>
        <input type="text" class="form-control" id="exampleInputAge1" placeholder="Enter Age" [(ngModel)]="age" name="age">
    </div>
    <button type="submit" class="btn btn-primary" (click)="add()">Submit</button>
</form>
